@{
    ViewBag.Title = "Error";
}

<div class="text-center">
    <h2>Error</h2>
    <h3 class="text-red">@ViewBag.ErrorMessage</h3>
    <img src="~/error.jpg" width="500px" style="border-radius:30px"/>
</div>